name: CI Pruebas REST PLANKA

on:
  push:
    branches: 
    - main 
    - daniela
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout code from daniela
        uses: actions/checkout@v4
        with:
          ref: daniela  

      - name: Configurar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
            python-version: 3.11

      # - name: Establecer variables de entorno desde secrets
      #   run: |
      #    echo "BASE_URI=${{ secrets.BASE_URI }}" >> $GITHUB_ENV
      #    echo "USER_EMAIL=${{ secrets.USER_EMAIL }}" >> $GITHUB_ENV
      #    echo "USER_PASSWORD=${{ secrets.USER_PASSWORD }}" >> $GITHUB_ENV

    
      - name: Levantar Planka con Docker y esperar
        run: |
         docker compose up -d
         echo "Esperando a que Planka arranque..."
         until curl --silent --fail http://localhost:3000/health  > /dev/null; do
            echo "esperando..."
            sleep 25
         done
         echo "Planka está en línea"


      - name: Crear usuario admin en Planka
        run: |
          echo "Creando usuario admin..."
          curl -X POST http://localhost:3000/api/users \
               -H "Content-Type: application/json" \
               -d '{
                     "email": "${{ secrets.USER_EMAIL }}",
                     "password": "${{ secrets.USER_PASSWORD }}",
                     "name": "Admin PLANKA"
                   }'
          echo "USER_EMAIL=$EMAIL" >> $GITHUB_ENV
          echo "USER_PASSWORD=$PASSWORD" >> $GITHUB_ENV
          echo "BASE_URI=http://localhost:3000" >> $GITHUB_ENV
          echo "Respuesta creación: $RESPONSE"
    
          if echo "$RESPONSE" | grep -q '"id"'; then
              echo "Usuario creado correctamente"
          else
              echo "Error: usuario no se creó"
              exit 1
          fi

      - name: Verificar secrets
        run: |
          if [ -z "$USER_EMAIL" ]; then
             echo "USER_EMAIL no está definido"
              exit 1
          fi
          if [ -z "$USER_PASSWORD" ]; then
              echo "USER_PASSWORD no está definido"
              exit 1
          fi
              echo "Las variables USER_EMAIL y USER_PASSWORD existen."

      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install allure-pytest


      - name: Ejecutar tests Pytest
        continue-on-error: true
        run: |
            pytest -v tests/ --alluredir=allure-results

      - name: Generar reporte Allure HTML
        run: |
            allure generate allure-results --clean -o allure-report


      - name: Publicar Allure en GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./allure-report

